@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Lora:wght@400;500&family=Playfair+Display:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  background: rgb(15, 15, 15);
  color: rgb(233, 233, 233);
}
a {
  text-decoration: none;
  font-family: circular, sans-serif;
  font-size: 14px;
  color: #fff;
  position: relative;
  transition: color 0.4s;
}
p {
  margin: 20px 10px;
}
:root {
  /* Set neon container-img-project1 color */
  --neon-border-color: #08f;
  /* Set neon container-img-project2 color */
  --neon-border-color2: rgb(172, 207, 42);
  /* Set neon button color */
  --neon-button-color: rgb(0, 255, 128);
}
