@use "./global" as *;
#about-me {
  display: grid;
  justify-items: stretch;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1400px;
  padding: 100px 0;
}
.container-img {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  & img {
    border-radius: 4px;
    width: 65%;
    z-index: 1;
  }
  & .overlay {
    border-radius: 4px;
    margin: auto;
    width: 65%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    /* aplicamos el filtro con el color deseado */
    background-color: rgba(82, 82, 82, 0.392);
    border: 2px solid rgb(255, 255, 255);
    transition: opacity 0.3s ease-in-out;
    opacity: 1;


  }
  & .overlay:hover {
    opacity: 0;
  }
}

.container-paragraph {
  display: flex;
  flex-flow: column;
  line-height: 26px;
  justify-content: center;
  font-size: 1.6rem;
  color: $text-color;
}
.link__aboutMe {
  font-size: 1.6rem;
  color: $purple;
  margin-left: 5px;
  margin-right: 5px;
  &:hover {
    text-decoration: underline;
  }
}
.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0px;
  margin: 45px 0px 0px 10px;
  overflow: hidden;
  list-style: none;
  font-size: 15px;
  text-align: center;
  color: #e8e6e3;
  gap: 10px;
  font-family: Helvetica;
}
.skills-list :hover {
}
.icon-1 {
  font-size: 18px;
  color: #efd81d;
}
.icon-2 {
  font-size: 18px;
  color: rgb(94 211 243);
}
.icon-3 {
  font-size: 18px;
  color: #df401b;
}
.icon-4 {
  font-size: 18px;
  color: #dd4b25;
}
.icon-5 {
  font-size: 18px;
  color: #ca6396;
}
.icon-6 {
  font-size: 18px;
  color: rgb(255, 255, 255);
}
.python-icon {
  width: 18px;
}
