@use "./global" as *;
#about-me {
  display: grid;
  justify-items: stretch;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1400px;
  padding: 100px 0;
}
.container-img {
  width: 100%;
  & img {
    border-radius: 4px;
    margin-left: 30px;
    width: 75%;
  }
}

.container-paragraph {
  display: flex;
  flex-flow: column;
  line-height: 26px;
  justify-content: center;
  font-size: 1.6rem;
  max-width: 500px;
  color: $text-color;
}
.link__aboutMe {
  font-size: 1.6rem;
  color: $purple;
  &:hover {
    text-decoration: underline;
  }
}

/* reverse */
.work-reverse {
  padding-top: 190px;
}
.container-titles {
  display: flex;
  font-size: 30px;
  margin: 20px 0;
  font-family: Helvetica-Bold;
}
.title-about {
  color: rgb(255 255 255);
  font-size: 30px;
  margin: 0;
}
.container-titles > p {
  margin: 0;
  color: #8cc0de;
  margin-right: 8px;
}
.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0px;
  margin: 45px 0px 0px 10px;
  overflow: hidden;
  list-style: none;
  font-size: 15px;
  text-align: center;
  color: #e8e6e3;
  gap: 10px;
  font-family: Helvetica;
}
.skills-list :hover {
}
.icon-1 {
  font-size: 18px;
  color: #efd81d;
}
.icon-2 {
  font-size: 18px;
  color: rgb(94 211 243);
}
.icon-3 {
  font-size: 18px;
  color: #df401b;
}
.icon-4 {
  font-size: 18px;
  color: #dd4b25;
}
.icon-5 {
  font-size: 18px;
  color: #ca6396;
}
.icon-6 {
  font-size: 18px;
  color: rgb(255, 255, 255);
}
.python-icon {
  width: 18px;
}
