@font-face {
  font-family: "Helvetica";
  src: local("Helvetica"), url("../../fonts/Helvetica.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica-Bold";
  src: local("Helvetica-Bold"),
    url("../../fonts/Helvetica-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "helvetica-light";
  src: local("helvetica-light"),
    url("../../fonts/helvetica-light.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "helvetica-rounded-bold";
  src: local("helvetica-rounded-bold"),
    url("../../fonts/helvetica-rounded-bold.otf") format("truetype");
  font-weight: 700;
}
