.footer {
  display: flex;
  &__principal-text {
    transform: rotate(-90deg);
    transform-origin: left top 0;
    font-size: 1.5rem;
    font-family: Helvetica-Bold;
  }
}
.whit-love {
  text-align: center;
}
