$font-principal: "Helvetica", sans-serif;
$font-titles: "Inter", sans-serif;
$background-color: #000000;
$background-white-color: #ffffff;
$titles-color: #ffffff;
$text-color: #8892b0;
$text-black-color: #000000;
$link-color: #ffffff;
$link-color-hover: #ff3e3e;
$purple: #ba6bff;
$number-color: #8cc0de;

@mixin project-Box {
  margin: 30px 0;
  padding: 0 0;
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  height: 500px;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: $font-principal;
  color: $titles-color;
  background-color: $background-color;
}
a {
  text-decoration: none;
  font-size: 14px;
}
li {
  list-style: none;
}
ul {
  padding: 0;
}
img {
  width: 100%;
  border-radius: 4px;
}
figcaption {
  text-align: end;
  font-style: italic;
  color: #b9b9b9;
}
#pricipal-section {
  padding: 100px;
  max-width: 1500px;
  margin: auto;
}
.container-titles {
  display: flex;
  font-size: 3rem;
  margin: 20px 0;
  align-items: center;
  font-family: Helvetica-Bold;
}
.title-about {
  color: $titles-color;
  font-size: 3rem;
  margin: 0;
}
.container-titles > p {
  margin: 0;
  color: $number-color;
  margin-right: 3px;
}
