:root {
  /* Set neon container-img-project1 color */
  --neon-border-color: #08f;
  /* Set neon container-img-project2 color */
  --neon-border-color2: #f200ff;
  /* Set neon container-img-secondary-project color */
  --neon-border-color3: #21e44b;
  /* Set neon button color */
  --neon-button-color: #ff00f7;
  /* Set neon hover button color */
  --neon-hover-button-color: #ff24f8;
  /* Set neon button navbar color */
  --neon-button-color1: #a41ef2c7;
}
$font-principal: "Helvetica", sans-serif;
$font-titles: "Inter", sans-serif;
$background-color: #000000;
$background-white-color: #ffffff;
$titles-color: #ffffff;
$text-color: #8892b0;
$text-black-color: #000000;
$link-color: #2997ff;
$purple: #ba6bff;
$number-color: #8cc0de;

@mixin project-Box {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
  align-items: center;
  height: 500px;
  border-bottom: 1px solid;
  border-bottom-style: dashed;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: $font-principal;
  color: $titles-color;
  background-color: $background-color;
}
a {
  text-decoration: none;
  font-size: 14px;
}
li {
  list-style: none;
}
ul {
  padding: 0;
}
img {
  width: 100%;
  border-radius: 4px;
}
figcaption {
  text-align: end;
  font-style: italic;
  color: #b9b9b9;
}
#pricipal-section {
  padding: 100px;
}
