@use "./global" as *;

header {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 60px;
  box-shadow: 0px 4px 4px rgba(134, 134, 134, 0.25);
}
.logo {
  font-size: 25px;
  line-height: 30px;
  font-family: $font-titles;
  color: $titles-color;
  font-weight: 800;
}
.header-btn {
  cursor: pointer;
  padding: 20px;
  font-weight: 600;
  font-family: $font-titles;
  color: $link-color;
  &:hover {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.92), 0 0 1px rgb(255, 255, 255),
      0 0 3px $purple, 0 0 29px $purple, 0 0 9px $purple, 0 0 1px $purple;
    text-decoration: underline;
  }
}
