@use "./global" as *;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 60px;
  box-shadow: 0px 4px 4px rgba(134, 134, 134, 0.25);
}
.logo {
  font-size: 25px;
  line-height: 30px;
  font-family: $font-titles;
  color: $titles-color;
}
.container-header-links {
}
.header-btn {
  cursor: pointer;
  padding: 20px;
  font-weight: 600;
  font-family: $font-titles;
  color: $link-color;
}
.header-btn > p {
}

@media screen and (max-width: 400px) {
  header {
    height: 100px;
  }
}
