@use "./global" as *;

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 105px;
}
.paragraph-hero {
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 10px;
  max-width: 420px;
  font-family: $font-titles;
}
.title-hero {
  margin: 0;
  font-size: 3.5rem;
  margin-bottom: 10px;
  font-family: $font-titles;
}
.secondary-title {
  margin: 0;
  font-size: 3.5rem;
  background-image: linear-gradient(90deg, #f56772 20%, #7280ff 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  font-weight: 800;
  font-family: $font-titles;
}
.read-more {
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-style: italic;
  text-decoration: underline;
  color: $text-color;
}
.read-more:hover {
  text-decoration: line-through;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.92), 0 0 1px rgb(255, 255, 255),
    0 0 3px $purple, 0 0 29px $purple, 0 0 9px $purple, 0 0 1px $purple;
  color: $titles-color;
  cursor: pointer;
}
