@use "./global" as *;

$mobileS: "320px";
$mobileM: "480px";
$mobileL: "600px";
$tablet: "768px";
$laptop: "1024px";
$laptopL: "1440px";
$desktop: "2560px";

// laptop
@media (max-width: $laptop) {
  .hero {
    padding: 0;
  }
}
// tablet
@media (max-width: $tablet) {
  header {
    padding: 0 30px;
  }
  #pricipal-section {
    padding: 50px;
  }
  .hero {
    justify-items: center;
    grid-template-columns: 1fr;
  }
  .titles-hero {
    grid-row: 1;
    margin-bottom: 50px;
  }
  #about-me {
    grid-template-columns: 1fr;
  }
  .container-paragraph {
    max-width: none;
  }
  .container-img {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0;
    & img {
      margin-left: 0;
      width: 300px;
    }
  }
  .secondary-projects {
    width: 315px;
  }
  .text-contact {
    margin-bottom: 50px;
  }
  .project {
    display: none;
  }
  .card-contact {
    width: 100%;
  }
}
// mobile large

@media (max-width: $mobileL) {
  header {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .logo {
    margin: 10px 0;
  }
  .header-btn {
    padding: 20px 10px;
  }
  .secondary-projects {
    width: 500px;
    &__main {
      text-align: left;
    }
  }
  .container-titles {
    font-size: 2.2rem;
  }
  .title-about {
    font-size: 2.2rem;
  }
  .footer {
    display: flex;
    &__principal-text {
      transform: none;
      text-align: center;
    }
  }
  .card-contact {
    height: 200px;
    margin: 30px 0;
    &__message {
      height: 70%;
    }
  }
}
@media (max-width: $mobileM) {
  #pricipal-section {
    padding: 25px;
  }
}
