.container-others-projects {
  margin-bottom: 150px;
}
.project-list {
  list-style: none;
  padding: 0px;
  margin: 50px 0px 0px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
