@use "./global" as *;

.project {
  @include project-Box;
  border-bottom: 1px solid;
  border-bottom-style: dashed;
  grid-template-columns: repeat(2, 1fr);

  & hr {
    width: 140px;
    margin: 0;
    border: none;
    height: 1px;
    background-image: linear-gradient(
      90deg,
      rgba(16, 190, 252, 1) 4%,
      rgba(129, 188, 243, 1) 13%,
      rgba(230, 177, 225, 1) 28%,
      rgba(250, 127, 229, 1) 49%,
      rgba(255, 125, 125, 1) 67%,
      rgba(247, 152, 102, 1) 78%,
      rgba(255, 212, 189, 1) 95%
    );
  }
}
.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__description {
    &__start-age {
      display: inline-block;
      border: 1px solid;
      border-radius: 10px;
      padding: 4px 20px;
      font-size: 1.6rem;
    }
    &__text {
      font-size: 2rem;
      color: $text-color;
    }
  }
}
.titles {
  &__title {
    font-size: 5rem;
    margin: 20px 0;
    color: $titles-color;
  }
  &__color-list {
    display: flex;
    li {
      border-radius: 50px;
      margin-right: 1rem;
      width: 35px;
      height: 35px;
      background: linear-gradient(
        90deg,
        rgba(131, 58, 180, 1) 0%,
        rgba(253, 29, 29, 1) 50%,
        rgba(252, 176, 69, 1) 100%
      );
    }
  }
}

.link {
  font-size: 1.6rem;
  margin: 0;
  background-image: linear-gradient(
    90deg,
    rgba(16, 190, 252, 1) 4%,
    rgba(129, 188, 243, 1) 13%,
    rgba(230, 177, 225, 1) 28%,
    rgba(250, 127, 229, 1) 49%,
    rgba(255, 125, 125, 1) 67%,
    rgba(247, 152, 102, 1) 78%,
    rgba(255, 212, 189, 1) 95%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.image-tech--project {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__list {
    display: flex;
    background: linear-gradient(180deg, #f4bfbf 20%, #ba6bff 100%);
    padding: 0;
    height: 57px;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    border: 1px solid;
    font-size: 1.2rem;
    & li {
      font-weight: 600;
      font-family: "Inter";
      font-style: italic;
      color: white;
    }
  }
}
