@use "./global" as *;

.secondary-projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 330px;
  height: 267px;
  margin: 5px;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: ne-resize;
  transition: all 0.5s ease-in-out;
  border: 2px solid rgba(255, 255, 255, 0.6);
  color: $titles-color;
  background-color: $number-color;
  &__header {
    justify-content: end;
    display: flex;
    a {
      font-size: 19px;
      margin: 0 2px;
      color: $titles-color;
    }
  }
  &__main {
    text-align: center;
    &__title {
      color: $titles-color;
      font-weight: 700;
      font-style: italic;
      font-size: 2.5rem;
      margin: 0;
      font-family: $font-titles;
    }
    &__description {
      font-size: 1.6rem;
      color: $text-color;
    }
  }
  &__tech-list {
    color: #faf0e6;
    // color: $titles-color;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 600;
    font-family: $font-titles;
  }
}
.secondary-projects:hover {
  transform: scale(1.02);
  border: 2px solid rgb(255, 255, 255);
  background-image: linear-gradient(
    to right,
    rgb(242, 112, 156),
    rgb(255, 148, 114)
  );
}

.secondary-projects:active {
  transform: scale(1.01);
}
.secondary-projects__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
