.container {
}
.work {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px 40px;
  gap: 20px;
}
.container-img {
  width: 100%;
}
.container-paragraph {
  color: rgb(228, 226, 226);
  padding: 0 5%;
  line-height: 26px;
  justify-content: center;
  display: flex;
  flex-flow: column;
  font-size: 14px;
}
.img-about-us {
  max-width: 73%;
  border-radius: 4px;
  margin-left: 15px;
}
.container-paragraph {
}
/* reverse */
.work-reverse {
  padding-top: 190px;
}
.title-about {
  color: rgb(255 255 255);
  text-shadow: rgb(0 0 0) 0px 0px 65px, rgb(255 255 255) 0px 0px 7px,
    rgb(255 255 255) 0px 0px 60px, rgb(0 255 255) -16px -2px 70px,
    rgb(0 255 255) -6px -2px 20px, rgb(0 255 255) -5px 1px 20px,
    rgb(0 255 255) 2px 1px 20px, rgb(0 255 255) -9px 0px 20px;
  text-align: initial;
  font-size: 30px;
  position: relative;
  bottom: 17px;
}
.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 0px;
  margin: 45px 0px 0px 10px;
  overflow: hidden;
  list-style: none;
  font-size: 15px;
  text-align: center;
  color: #e8e6e3;
  gap: 10px;
}
.skills-list :hover {
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.92),
    0 0 10px rgba(255, 255, 255, 0.34), 0 0 4px rgba(157, 30, 242, 0.52),
    0 0 7px rgba(147, 30, 242, 0.92), 0 0 11px rgba(164, 30, 242, 0.78),
    0 0 16px rgba(217, 30, 242, 0.92);
}
.icon-1 {
  font-size: 18px;
  color: #efd81d;
}
.icon-2 {
  font-size: 18px;
  color: rgb(94 211 243);
}
.icon-3 {
  font-size: 18px;
  color: #df401b;
}
.icon-4 {
  font-size: 18px;
  color: #dd4b25;
}
.icon-5 {
  font-size: 18px;
  color: #006db4;
}
.icon-6 {
  font-size: 18px;
  color: rgb(21 118 187);
}
.icon-7 {
  font-size: 18px;
  color: #633194;
}
.icon-8 {
  font-size: 18px;
  color: #36adb5;
}
.icon-9 {
  font-size: 18px;
  color: #8a8a8a;
}
@media screen and (max-width: 800px) {
  .work {
    grid-template-columns: 1fr;
    padding: 50px 40px;
  }
  .img-about-us {
    max-width: 70%;
  }
  .title-about {
    text-align: center;
    position: initial;
    margin-top: 30px;
  }
  .container-paragraph {
    grid-row: 2;
    text-align: center;
  }
  .container-img {
    grid-row: 1;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 400px) {
  .work {
    padding: 60px 0px;
  }
  .skills-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .img-about-us {
    max-width: 40%;
    margin-left: 0;
    height: auto;
  }
}
