.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3% 18%;
  margin-bottom: 105px;
}
.div {
  font-size: 14px;
  line-height: 28px;
}
.paragraph-hero {
  margin-top: 10px;
  color: rgb(255, 255, 255);
  max-width: 420px;
  text-align: inherit;
  line-height: 24px;
  font-size: 14px;
  font-family: Lora;
  font-weight: 400;
}
.read-more {
  font-size: 13px;
  margin: 41px 11px;
  letter-spacing: 1px;
}
.titles-hero {
}
.title-hero {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 10px;
}
.secondary-title {
  font-size: 30px;
  margin: 0;
}
.read-more:hover {
  text-decoration: line-through;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.92), 0 0 10px rgb(255, 255, 255),
    0 0 4px var(--neon-button-color1), 0 0 7px var(--neon-button-color1),
    0 0 11px var(--neon-button-color1), 0 0 16px var(--neon-button-color1);
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .hero {
    display: flex;
    flex-flow: column-reverse;
  }
}
@media screen and (max-width: 400px) {
  .hero {
    margin: 3% 2%;
  }
  .img-about-us {
    max-width: 90%;
  }
  .title-hero {
    font-size: 35px;
  }
  .secondary-title {
    font-size: 25px;
  }
  .paragraph-hero {
    font-size: 12px;
  }
  .read-more {
    font-size: 12px;
  }
}
