.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.div {
  font-size: 14px;
  line-height: 28px;
}
.paragraph-hero {
  margin-top: 10px;
  color: rgb(255, 255, 255);
  max-width: 480px;
  text-align: inherit;
  line-height: 24.2px;
  font-size: 20px;
  font-family: Helvetica-Bold;
}

.title-hero {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 10px;
}
.secondary-title {
  font-size: 35px;
  margin: 0;
  background: linear-gradient(180deg, #FF6500 36.61%, rgba(253, 6, 6, 0.69) 60.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.read-more {
  font-size: 13px;
  margin: 41px 11px;
  letter-spacing: 1px;
  font-style: italic;
}
.read-more:hover {
  text-decoration: line-through;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.92), 0 0 10px rgb(255, 255, 255),
    0 0 4px var(--neon-button-color1), 0 0 7px var(--neon-button-color1),
    0 0 11px var(--neon-button-color1), 0 0 16px var(--neon-button-color1);
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .hero {
    display: flex;
    flex-flow: column-reverse;
  }
  .title-hero {
    margin-bottom: 40px;
  }
  .div {
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .hero {
    padding: 9% 2% 9%;
  }
  .img-about-us {
    max-width: 90%;
  }
  .title-hero {
    font-size: 32px;
    text-align: center;
  }
  .secondary-title {
    text-align: center;
    font-size: 25px;
  }
  .paragraph-hero {
    font-size: 12px;
  }
  .read-more {
    font-size: 12px;
  }
}
