@font-face {
  font-family: lasenter;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/lasenter.ttf);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  background: #33333359;
  height: 70px;
}
.logo {
  padding-left: 20px;
  font-size: 23px;
}
.col-1 a {
  font-size: 13px;
  line-height: 10px;
  text-transform: capitalize;
  pointer-events: auto;
}
.col-1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 10px;
}
.container-nav-links {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}
.btn:hover {
  text-decoration: line-through;
  cursor: pointer;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.92), 0 0 10px rgb(255, 255, 255),
    0 0 4px var(--neon-button-color1), 0 0 7px var(--neon-button-color1),
    0 0 11px var(--neon-button-color1), 0 0 16px var(--neon-button-color1);
}

.resume-button {
  background-color: transparent;
  border: 1px solid;
  border-radius: 5px;
  padding: 0.8rem 0.8rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-left: 30px;
  font-size: 13px;
  box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
    0 0 1rem var(--neon-button-color), inset 0 0 1rem var(--neon-button-color),
    0 0 1rem var(--neon-button-color), inset 0 0 0.5rem var(--neon-button-color);
  min-width: 120px;
}
.resume-button:hover {
  box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
    0 0 1rem var(--neon-hover-button-color),
    inset 0 0 1rem var(--neon-hover-button-color),
    0 0 1rem var(--neon-hover-button-color),
    inset 0 0 0.5rem var(--neon-hover-button-color);
}

@media screen and (max-width: 600px) {
  .resume-button {
    display: none;
  }
  .btn-email {
    text-shadow: #ff00f7 0px 0px 8px, #ff00f7 0px 0px 6px, #ff00f7 0px 0px 4px;
  }

  @media screen and (max-width: 400px) {
    nav {
      height: 100px;
    }
  }
}
