nav {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  counter-reset: item 0;
  z-index: 12;
}
.logo {
  font-size: 18px;
  z-index: 10;
  position: relative;
  left: 30px;
}
.col-1 a {
  font-size: 13px;
  line-height: 10px;
  text-transform: capitalize;
  pointer-events: auto;
}
.col-1 {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px 5%;
}
.container-nav-links {
  display: flex;
  flex-direction: column;
}
.btn:hover {
  text-decoration: line-through;
  cursor: pointer;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.92), 0 0 10px rgb(255, 255, 255),
    0 0 4px var(--neon-button-color1), 0 0 7px var(--neon-button-color1),
    0 0 11px var(--neon-button-color1), 0 0 16px var(--neon-button-color1);
}

/* .resume-button {
  color: rgb(0, 132, 255);
  background-color: transparent;
  border: 1px solid;
  border-radius: 5px;
  padding: 0.8rem 0.8rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-left: 15px;
  font-size: 13px;
  box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
    0 0 1rem var(--neon-border-color), inset 0 0 1rem var(--neon-border-color),
    0 0 1rem var(--neon-border-color), inset 0 0 0.5rem var(--neon-border-color);
} */
@media screen and (max-width: 400px) {
  .col-1 {
    display: block;
    width: 20%;
  }
  .btn-email {
    margin-top: 15px;
  }
}
