.container-others-projects{
    margin: auto;
    padding: 100px 0px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    
}
.project-list{
    list-style: none;
    padding: 0px;
    margin: 50px 0px 0px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}