.container-projects {
  margin-left: 60px;
  padding: 70px 40px;
  display: flex;
}
.reverse {
  flex-direction: row-reverse;
}
.container-img-projects {
  max-width: 480px;
  border: 3px solid #fff;
  box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
    0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color),
    0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
}
.container-img-projects-reverse {
  box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
    0 0 2rem var(--neon-border-color2), inset 0 0 2rem var(--neon-border-color2),
    0 0 4rem var(--neon-border-color2), inset 0 0 4rem var(--neon-border-color2);
}
.img-principal-project {
  width: 100%;
}
.container-text-projects {
  margin: 30px 0px;
  padding: 0;
  margin-left: 34px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.container-text-projects-reverse {
  margin-left: 0;
  margin-right: 34px;
}
.title-project {
  margin-bottom: 0px;
  font-size: 25px;
  color: #6d6d6d;
  text-decoration: none;
  cursor: ne-resize;
}
.paragraph-projects {
  font-size: 14px;
  max-width: 800px;
  font-size: 14px;
  line-height: 1.5;
  color: #b6b6b6;
}

.title-project:hover {
  color: #c6e2ff;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.92),
    0 0 10px rgba(255, 255, 255, 0.34), 0 0 4px rgba(157, 30, 242, 0.52),
    0 0 7px rgba(147, 30, 242, 0.92), 0 0 11px rgba(164, 30, 242, 0.78),
    0 0 16px rgba(217, 30, 242, 0.92);
}
@media screen and (max-width: 800px) {
  .container-projects {
    padding: 60px 40px;
    flex-direction: column;
  }
}
@media screen and (max-width: 450px) {
  .container-projects {
    padding: 30px 20px;
    margin-left: 10px;
  }
  .container-text-projects {
    margin: 40px 0px;
    padding: 0;
  }
}
