.projects__ {
  max-width: 290px;
  min-width: 285px;
  min-height: 240px;
  margin: 5px;
  padding: 20px 25px 5px;
  border-radius: 5px;
  cursor: ne-resize;
  padding-bottom: 5px;  
  background: linear-gradient(-45deg, #0b0c0de5, #0a0909e5, #0e0d0d, #251052e5);
  /* background: linear-gradient(-45deg, #ffffffe5, #0077ee, #000000e5, #6600ec25); */
 background-size: 800% 400%;
 display: inline-block;
 border: none;
 color: white;
 transition: all .5s ease-in-out;
 animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
}
.projects__:hover {
  animation: gradient 3s infinite;
  transform: scale(1.05);
 }
 
 .projects__:active {
  animation: gradient 3s infinite;
  transform: scale(0.8);
 }
 
 @keyframes gradient {
  0% {
   background-position: 0% 50%;
  }
 
  50% {
   background-position: 100% 50%;
  }
 
  100% {
   background-position: 0% 50%;
  }
 }
.container-projects-secondary-projects:hover {
  color: #00ff80;
  position: relative;
  bottom: 1px;
}
.header {
  margin-bottom: 30px;
  min-height: 160px;
}
.project-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-other-projects {
  margin: 11px 0px;
  font-size: 25px;
}
.icons-project {
  min-width: 60px;
}
.icon-project {
  font-size: 23px;
  margin-left: 5px;
}
.project-description {
  color: #b6b6b6;
  font-size: 15px;
  padding: 0;
  margin-bottom: 50px;
}
.footer-project-item {
  margin-bottom: 20px;
}
.technologies-list {
  display: flex;
  padding: 0;
}
.item-technologies {
  margin: 0 8px;
  font-size: 14px;
  color: #838383;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-technologies:first-child {
  margin-left: 0;
}
.a-ne-resize {
  cursor: ne-resize;
}
.icon-project:hover {
  color: #00ff80;
}
.gymclass {
  width: 50px;
  border-radius: 20px;
}
@media screen and (max-width: 800px) {
  .xxx {
    padding: 15px 5px;
    margin: 8px 5px;
  }
}

