.xxx {
  border: solid 1px #707070;
  background: #0b0c0d;
  max-width: 290px;
  min-height: 240px;
  margin: 5px 5px;
  padding: 20px 25px;
  border-radius: 5px;
  cursor: ne-resize;
  padding-bottom: 5px;
}
.xxx:hover {
  border: solid 1px rgba(0, 85, 85, 0.582);
}
.container-projects-secondary-projects:hover {
  color: #0080ff;
  position: relative;
  bottom: 1px;
}
.other-projects {
}
.header {
  margin-bottom: 30px;
  min-height: 160px;
}
.project-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-other-projects {
  margin: 11px 0px;
  font-size: 25px;
}
.icons-project {
  min-width: 60px;
}
.icon-project {
  font-size: 23px;
  margin-left: 5px;
}
.project-description {
  color: #b6b6b6;
  font-size: 15px;
  padding: 0;
  margin-bottom: 50px;
}
.footer-project-item {
  margin-bottom: 20px;
}
.technologies-list {
  display: flex;
  padding: 0;
}
.item-technologies {
  margin: 0 8px;
  font-size: 14px;
  color: #838383;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-technologies:first-child {
  margin-left: 0;
}
.a-ne-resize {
  cursor: ne-resize;
}
.icon-project:hover {
  color: #00ff80;
}
