.container {
  font-family: consolas;
}
span {
  font-size: 23px;
  color: #e8e6e3;
  text-transform: uppercase;
  font-family: helvetica;
}
.row {
  display: flex;
  flex-flow: column;
}

.container-secondary-title-projects {
  text-align: end;
  margin: 120px 50px;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.92),
    0 0 10px rgba(255, 255, 255, 0.34), 0 0 4px rgba(242, 30, 30, 0.52),
    0 0 7px rgba(242, 30, 30, 0.92), 0 0 11px rgba(242, 30, 30, 0.78),
    0 0 16px rgba(242, 30, 30, 0.92);
  max-width: 1400px;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .outline {
    line-height: 73px;
    font-size: 85px;
  }
  .container-secondary-title-projects {
    margin: 100px 15px;
  }
}
