span {
  font-size: 23px;
  color: #e8e6e3;
  text-transform: uppercase;
  font-family: helvetica;
}
.h1-work {
  white-space: nowrap;
  font-size: 8.1vw;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  font-weight: normal;
}
.container {
  font-family: consolas;
}
.work-title {
  padding: 20px 0;
}
.row {
  display: flex;
  flex-flow: column;
}
.outline {
  -webkit-text-stroke-color: #fff;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  font-weight: 900;
  line-height: 111px;
  font-size: 130px;
  white-space: nowrap;
  /* text-overflow: initial; */
  overflow: hidden;
}
.outline {
  text-shadow: rgb(255 255 255 / 92%) 0px 0px 2px,
    rgb(255 255 255 / 59%) 0px 0px 10px, rgb(18 255 0) 0px 0px 4px;
}
.container-secondary-title-projects {
  text-align: end;
  margin: 120px 50px;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.92),
    0 0 10px rgba(255, 255, 255, 0.34), 0 0 4px rgba(242, 30, 30, 0.52),
    0 0 7px rgba(242, 30, 30, 0.92), 0 0 11px rgba(242, 30, 30, 0.78),
    0 0 16px rgba(242, 30, 30, 0.92);
  max-width: 1400px;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .outline {
    line-height: 73px;
    font-size: 85px;
  }
  .container-secondary-title-projects {
    margin: 100px 15px;
  }
}
